@keyframes moveAnimation {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}

@keyframes scaleAnimation {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.78);
    }
    100% {
      transform: scaleX(1);
    }
  }

#ctaCard {
/*   animation: moveAnimation 3s infinite;  */
/*    animation: rotate-horizontal 3s infinite; */
    animation: scaleAnimation 3s infinite;
}

.rotate-horizontal {
    animation-name: rotate-horizontal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
  }
  
  @keyframes rotate-horizontal {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
